<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Word Finder</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
</head>

<body>
    <div class="Intro">
        <h1 class="Title"> Word Finder </h1>
        <p class="Description"> Enter at least 3 letters, and click "Go" for
            an instant list of all the words you can create!</p>
    </div>

    <div class="search-field">
        <form name="myForm" action="word_list" autocomplete="off" spellcheck="false" method="POST">
            <input type="search" placeholder="abcde..." value="{{ letters }}" pattern="[A-Za-z]+" minlength="3"
                name="letter_field" required>
            <input type="submit" value="Go" name="">
        </form>
    </div>

    <div class="words-container">
        {% for n_letter_words in words_array %}
        <div class="words">
            {% set length = n_letter_words[0] | length %}
            <h4> {{ length }} Letter Words </h4>
            <ul>
                {% for word in n_letter_words %}
                <li> {{ word }} </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% if show_button %}
        <button id="clear_results" type="button" onclick="clearResults()">
            new search 
        </button>
        {% endif %}
    </div>

    <footer>
        <a href="https://github.com/nadeen-f/Word-Finder">
            <div id="links">
                <img id="logo" alt="GitHub Logo" src="{{ url_for('static', filename='github.png') }}">
                <p> GitHub </p>
            </div>
        </a>
    </footer>
</body>

</html>
